.recipes {
    text-align: center;
    margin-top: 10px;
    list-style-type: none;
    background-color: grey;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
}
.recipeOne { /*Pepper Steak*/
    text-align: center;
    display: inline-block;
    margin: 10px;
}

.recipeTwo { /*Baby Back Ribs*/
    text-align: center;
    display: inline-block;
    align-items: center;
    margin: 10px;
}

.recipeThree { /*Mac and Cheese*/
    text-align: center;
    display: inline-block;
    margin: 10px;
}