body {
    box-sizing: border-box;
    background-color: #D6D3D1;
    color:#292524;
    width: auto;
    height: auto;
    padding-bottom: 610px;
    border: 5px solid grey;
    border-radius: 5px;
}

h1 {
    font-family: 'Agbalumo';font-size: 50px;
    font-weight: 700;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.Welcome {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Akaya Kanadaka';font-size: 25px;
    background-color: #99908d;
    color: #D6D3D1;
    padding: 10px;
    margin: 0 20px 20px 20px;
    border-radius: 5px;
}

.image_peppersteak, .image_babybackribs, .image_macandcheese {
    display: content-box;
    border: 5px solid #292524;
    border-radius: 5px;
}

.pepper-steak, .baby-back-ribs, .mac-and-cheese {
    display: inline-block;
    text-decoration: none;
    color: #292524;
    font-family: 'Akaya Kanadaka';font-size: 25px;
    border: 2px solid #292524;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.pepper-steak:hover, .baby-back-ribs:hover, .mac-and-cheese:hover {
    background-color: #292524;
    color: #D6D3D1;
}
