*,
*::before
*::after {
	box-sizing: border-box;
}

* {
	margin: 0px;
	padding: 0px;
}

.odin-recipes {
    background-color: #D6D3D1;
    color: #292524;
    width: auto;
    height: 100px;
    border-top: 5px solid grey;
    border-left: 5px solid grey;
    border-right: 5px solid grey;
    
    display: flex;
    justify-content: space-around;
    align-items: center;



}

.recipes-list {
    background-color: grey;
    display: flex;
    width: auto;
    height: 100px;
    border: 5px solid white;
    padding: 15px 25px;
    

    flex-direction: column;
    
}

.pepper-steak, .baby-back-ribs, .mac-and-cheese {
    color: white;

}

.body-page {
    background-color: black;
}