

.home_Button {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px 10px;
    border: 2px solid #292524;
    border-radius: 5px;
    color: #292524;
    text-decoration: none;
    font-family: 'Alfa Slab One';font-size: 18px;
    
}

.home_Button:hover {
    background-color: #292524;
    color: #D6D3D1;
}

body {
    background-color: #D6D3D1;
    color:#292524;
    width: auto;
    height: auto;
    border: 5px solid grey;
    border-radius: 5px;
}

.pepper_steak {
    font-family: 'Agbalumo';font-size: 50px;
    font-weight: 700;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.fig {
    font-size: 14px;
    color: #555555;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.image_peppersteak {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #292524;
    border-radius: 10px;
}

.description, .ingredients, .steps {
    margin-left: 30px;
    margin-bottom: 10px;
    margin-left: 7px;
    font-family: 'Akaya Kanadaka';font-size: 24px;
    color:#292524
}

ul, ol {
    margin-left: 30px;
}

ol {
    margin-bottom: 20px;
}

p {
    margin-left: 15px;
}

p, ul, ol {
    margin-bottom: 10px;
    font-family: 'Poppins';font-size: 16px;
}